.circle{
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    transition: background-color 3s;
}

.circle:hover{
    background-color: cyan;
    border-radius: 50%;
}





/* div {
    width: 100px;
    height: 100px;
    background-color: burlywood;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}

#middle {
    background-color: aqua;
}

#static #middle {
    position: static;
    top: 100px;
}

#relative #middle{
    position: relative;
    top: 100px;
}

#absolute #middle {
    position: absolute;
}

#fixed #middle{
    position: fixed;
    top: 0;
    left: 400px;
} */

/* body{
    margin-bottom: 0;
}

div {
    width: 200px;
    height: 250px;
    background-color: burlywood;
}

h1{
    background-color: aquamarine;
    width: 200;
    padding-left: 100px;
    margin-bottom: 0;
}

#one{
    background-color: antiquewhite;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    margin-left: 50px;
}

#two{
    background-color: azure;
    border-color: bisque;
    border-width: 3px;
    border-left-color: blanchedalmond;
    border-style: dashed;
}

#three{
    background-color: bisque;
    border: 4px solid black;
    border-left: dotted;
    border-radius: 50%;
}

button{
    padding: 10px 20px;
} */